* {
    margin: 0;
    padding: 0;
}

#profil-menu .none {
    display: none;
}

#profil-menu h1 {
    text-align: center;
    margin-top: 330px;
    color: #b7b7b7c7;
}

#search-menu {
    display: none;
}

#search-menu #search {
    width: 90%;
    height: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 17px;
    padding-left: 5px;
}

nav {
    display: flex;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 7px;
    width: 100%;
    border-bottom: 3px solid red;
    z-index: 1;
}

nav h2 {
    font-family: Asap Condensed;
    font-size: 20px;
    width: 100%;
}

nav .icons {
    display: flex;
    margin-right: 10px;
    margin-top: 1.5px;
}

nav #cart {
    color: red;
}

nav #home-nav {
    margin-top: 3px;
    margin-left: 5px;
    color: red;
}

.wrapper {
    overflow-x: scroll;
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    gap: 30px;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper .menu1 {
    position: relative;
    margin-top: 8%;
    margin-bottom: 20%;
    padding-top: 10px;
    border-radius: 20px;
    width: 100%;
}
.wrapper .menu1 img {
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 0 7px black;
}
.wrapper .menu1 .nama-menu1,
.wrapper .menu2 .nama-menu2,
.wrapper .menu3 .nama-menu3 {
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}
.wrapper .menu1 p,
.wrapper .menu2 p,
.wrapper .menu3 p {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
.wrapper .menu2 {
    position: relative;
    margin-top: 8%;
    margin-bottom: 20%;
    padding-top: 10px;
    border-radius: 20px;
    width: 100%;
}

.wrapper .menu2 img {
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 0 7px black;
}

.wrapper .menu3 {
    padding-top: 10px;
    border-radius: 20px;
    margin-top: 8%;
    width: 100%;
}

.wrapper .menu3 img {
    width: 420px;
    box-shadow: 0 0 7px black;
    border-radius: 10px;
}

.wrapper .item {
    scroll-snap-align: center;
}

.daftar-menu h1,
.favorit h1 {
    font-family: Rowdies;
    font-size: 110%;
    margin-left: 3px;
}
.daftar-menu h1 {
    background-image: linear-gradient(to bottom, #ff8206, #c26305);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.favorit h1 {
    background-image: linear-gradient(to bottom, #00c5ff, #01857b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.daftar-menu .list1,
.favorit .favorit1 {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.daftar-menu .list2 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.daftar-menu .menu .mnu1,
.daftar-menu .menu .mnu2,
.daftar-menu .menu .mnu3,
.daftar-menu .menu .mnu4,
.daftar-menu .menu .mnu5,
.daftar-menu .menu .mnu6,
.favorit .fvrtmnu1,
.favorit .fvrtmnu2,
.favorit .fvrtmnu3 {
    width: 130%;
    box-shadow: 0 0 5px;
}

.daftar-menu .menu .mkn1,
.daftar-menu .menu .mkn2,
.daftar-menu .menu .mkn3,
.daftar-menu .menu .mkn4,
.daftar-menu .menu .mkn5,
.daftar-menu .menu .mkn6,
.favorit .mkn6,
.favorit .mkn3,
.favorit .mkn2 {
    width: 90%;
    margin-left: 5px;
    margin-top: 5px;
    height: 80px;
}

.daftar-menu .menu .content,
.favorit .content {
    display: flex;
    justify-content: center;
    color: #ff8304ea;
    font-size: 10px;
}

.daftar-menu .menu h2,
.favorit h2 {
    text-align: center;
    font-size: 20px;
}

.daftar-menu .menu a,
.favorit a {
    text-decoration: none;
    color: white;
    background-color: #0013d6ea;
    width: 70%;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 12px;
}

.daftar-menu .menu .harga,
.favorit .harga {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
}

.favorit {
    margin-top: 150px;
    margin-bottom: 60px;
}

.footer-menu {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 7px;
    border-top: 3px solid red;
    z-index: 1;
    width: 100%;
    height: 45px;
    bottom: 0;
}

.footer-menu .icon {
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    font-size: 20px;
}

.footer-fn {
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    transform: scale(115%);
}
.none {
    display: none;
}
.show {
    display: inline;
}
.sigma {
    width: 50%;
    margin: 10px 100px;
}

@media only screen and (min-width: 1360px) {
    nav {
        height: 40px;
        top: 0;
    }
    nav .icons {
        font-size: 30px;
    }
    nav h2 {
        font-size: 40px;
        margin-top: -6px;
        width: 100%;
    }
    nav #home-nav {
        font-size: 30px;
    }
    .wrapper {
        width: 600px;
        margin-left: 520px;
    }
    .wrapper .menu1 img {
        width: 600px;
    }
    .wrapper .menu2 img {
        width: 600px;
    }
    .wrapper .menu3 img {
        width: 600px;
    }
    .wrapper .menu1 .nama-menu1,
    .wrapper .menu2 .nama-menu2,
    .wrapper .menu3 .nama-menu3 {
        font-size: 70px;
    }
    .wrapper .menu1 p,
    .wrapper .menu2 p,
    .wrapper .menu3 p {
        font-size: 30px;
    }
    .daftar-menu {
        margin-top: -100px;
    }
    .daftar-menu .menu {
        display: flex;
        gap: 10px;
        margin-bottom: 130px;
    }
    .daftar-menu .menu .list1 {
        gap: 10px;
    }
    .daftar-menu .menu .list2 {
        margin-top: 14px;
        gap: 10px;
    }
    .daftar-menu h1,
    .favorit h1 {
        font-size: 40px;
        margin-left: 10px;
    }
    .favorit1 {
        display: flex;
        width: 50%;
    }
    .daftar-menu .menu .mkn1,
    .daftar-menu .menu .mkn2,
    .daftar-menu .menu .mkn3,
    .daftar-menu .menu .mkn4,
    .daftar-menu .menu .mkn5,
    .daftar-menu .menu .mkn6,
    .favorit .mkn6,
    .favorit .mkn3,
    .favorit .mkn2 {
        height: 230px;
        width: 80%;
        margin-left: 30px;
    }
    .daftar-menu .menu a,
    .favorit a {
        margin-left: 70px;
        height: 30px;
        width: 50%;
        font-size: 25px;
        text-align: center;
    }
    .daftar-menu .menu .list2 a {
        font-size: 25px;
        width: 55%;
    }
    .daftar-menu .menu h2,
    .favorit h2 {
        font-size: 40px;
    }
    .daftar-menu .menu .harga,
    .favorit .harga {
        font-size: 30px;
    }
    .daftar-menu .menu .content,
    .favorit .content {
        font-size: 20px;
    }
    .footer-menu {
        height: 50px;
    }
    .footer-menu .icon {
        font-size: 30px;
        margin-top: 1px;
    }
    #search-menu #search {
        width: 90%;
        margin-left: 80px;
        height: 25px;
        font-size: 30px;
    }
    #profil-menu h1 {
        margin-top: 340px;
        font-size: 100px;
        text-align: center;
    }
    .favorit {
        margin-bottom: 100px;
    }
    .translate {
        transform: translateX(-310px) translateY(400px);
    }
    #profil-menu .none {
        display: none;
    }
    .showdesk {
        margin-top: 80px;
    }
}
