* {
    margin: 0;
    padding: 0;
}
body {
    
}
img {
    width: 30%;
    margin-top: 20px;
    transform: translateX(116%);
}
nav h2 {
    font-size: 23px;
    background-image: linear-gradient(to bottom, #f0ff07, #f2ff26);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: white 0.1px;
}
nav {
    display: flex;
    background-color: red;
    box-shadow: 1px 3px 10px;
}
ul {
    display: flex;
    margin-left: 20%;
    padding: 0;
    align-items: center;
}
li {
    margin-right: 20px;
    list-style: none;
}
input {
    height: 16px;
    width: 130px;
    font-size: 8px;
    border-radius: 5px;
    margin-left: 50%;
    margin-top: 4px;
}
.menu h2 {
    text-align: center;
}
.none {
    opacity: 0;
}
@media only screen and (max-width: 820px) {
    nav {
     height: 30px;
   }
   input {
     height: 16px;
     width: 130px;
     margin-top: 7px;
     margin-left: 38%;
   }
    nav h2 {
        margin-left: 5px;
        font-size: 23px;
        margin-top: 5px;
    }
    .daftar {
      margin-top: 25px;
    }
    img {
      box-shadow: 1px 2px 5px;
      transform: translateX(0);
    }
    .list1 .mkn1 {
      width: 50%;
    }
    .list1 .stay {
      text-align: start;
    }
    .list1 .mkn2 {
      width: 65%;
      height: 72%;
    }
    .list1 .rndg {
      text-align: start;
    }
    .list1 .mkn3 {
      width: 65%;
      height: 72%;
    }
    .list1 .bkso {
      text-align: start;
    }
    .list1 {
      display: flex;
    }
    .list1 .mnu1 {
      margin-right: -26%;
      margin-left: 2%;
    }
    .list1 .mnu2 {
      margin-right: -12%;
      margin-top: 1px;
    }
    .list1 .mnu3 {
      margin-top: 1px;
    }
    .list2 {
      display: flex;
    }
    .list2 .mkn4 {
      width: 150%;
      height: 72%;
    }
    .list2 .pmpk {
      text-align: start;
    }
    .list2 .mkn5 {
      width: 81%;
      height: 72%;
    }
    .list2 .gdgd {
      text-align: start;
      font-size: 20px;
    }
    .list2 .mkn6 {
      width: 70%;
      height: 72%;
    }
    .list2 .nsg {
      text-align: start;
      font-size: 19px;
    }
    .list2 .mnu4 {
      margin-left: 2%;
    }
    .list2 .mnu5 {
      margin-left: 12%;
      margin-right: -3%;
    }
    .mnfvrt {
      margin-top: 140px;
      padding-left: 35px;
      background-color: #2560ff;
    }
    .favorit1 {
      display: flex;
    }
    .favorit1 .mkn6 {
      width: 110px;
      height: 110px;
      margin-left: 10px;
    }
    .favorit1 .nsg {
      text-align: center;
    }
    .favorit1 .mkn3 {
      width: 100px;
      height: 110px;
      margin-left: 15px;
    }
    .favorit1 .bkso {
      text-align: center;
    }
    .favorit1 .mkn2 {
      width: 110px;
      height: 110px;
      margin-left: 15px;
    }
    .favorit1 .rndg {
      text-align: center;
    }
}